doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
    link(rel='stylesheet', href='/stylesheets/kit.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    link(rel='stylesheet', href='/assets/css/fontawesome.css')
    script(src='/assets/js/core/jquery.min.js', type='text/javascript')
    script(src='/assets/js/core/popper.min.js', type='text/javascript')
    script(src='/assets/js/core/bootstrap-material-design.min.js', type='text/javascript')
    script(src='/assets/js/plugins/moment.min.js')
    script(src='/assets/js/plugins/bootstrap-datetimepicker.js', type='text/javascript')
    script(src='/assets/js/plugins/nouislider.min.js', type='text/javascript')
    script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
    script(src='/assets/js/material-kit.js?v=2.0.5', type='text/javascript')
    link(rel='stylesheet', href='/assets/js/material-bootstrap-wizard.js')

  body

  .navbar.navbar-translate.navbar-color-on-scroll.fixed-top.navbar-expand-lg.bg-dark(color-on-scroll='100')
    a(href='/')
        img(src='/images/logo.png', alt='imgShare', style="margin-left:50%")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto(style="margin-left:3%")
          li.nav-item
            a.btn.bg-transparent.btn-sm(href='./principal', style="margin-left:0%")
              .fa.fa-home.fa-lg.text-white
              span.sr-only (current)
          li.nav-item
            a.btn.btn-success.btn-sm(href='./perfil', style="margin-left:3%")
              .fa.fa-user-astronaut
          li.nav-item
            a.btn.btn-danger.btn-sm(href='./mensajes', style="margin-left:6%")
              .fa.fa-id-card.fa-lg.text-white
        form.form-inline.my-2.my-lg-0(style="margin-top:0%; margin-bottom:0%")
          a.btn.btn-success(href='/login') ACCEDE
          a.btn.btn-outline-success(href='/registro') Registrate

   block content
        
          //partials
          
  footer.nav.navbar.navbar-translate.bg-dark.text-white
      .container.p-2
        .row
          .mx-auto.text-center
            p uneleate.io | &copy; Copyright 2019, Todos los derechos reservados             