doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/estilos.css')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href='/principal')
        img(src='/images/logo.png', alt='imgShare')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Inicio 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Perfil
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Opciones
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search', placeholder='busqueda...', aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
    .container
      section.main.row
        .col-sm-3.col-md-3
          // parte izquierda
        .col-sm-9.col-md-6
        
          block content
          
        .col-sm-12.col-md-3
        
          //partials
          
    footer.bg-dark.text-white
      .container.p-2
        .row
          .mx-auto.text-center
            p uneleate.io | &copy; Copyright 2019, Todos los derechos reservados             
            p
              i.fab.fa-twitter-square.fa-2x             
              i.fab.fa-facebook-square.fa-2x
