extends layout

block content
  .card
      .card-header.bg-dark
        h3.card-title.text-white
          i.far.fa-image Crear Publicacion
   
      .card-body
        form(action='/images', method='POST', enctype='multipart/form-data')
          .form-group
            .input-group
              .custom-file
                input#inputGroupFile.custom-file-input(type='file', name='image', aria-describedby='inputGroupFileAddon', required='')
                             
                label.custom-file-label(for='inputGroupFile') Escoger archivo
                 
          .form-group
            input.form-control(type='text', name='title', placeholder='Titulo para la imagen', required='')
                 
          .form-group
            textarea.form-control(name='description', rows='2', placeholder='Describa su imagen', required='')
                
          .form-group
            button.btn.btn-success
              i.fa.fa-upload Subir Imagen
        
  .card.mt-2
    .card-header.bg-dark.text-white
      h3
       i.far.fa-images subidas recientes
  
    .card.text-center
     
        .card-body
          h5.card-title titulo
          #video(style='object-fit: cover; display: flex;')
          
      .card-footer.text-muted
  
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/bootstrap.js')
