body {
  min-height: 75rem;
    padding-top: 4.5rem;
    background-color: silver;
}

.name {
  color: #00B7FF;
}

.colo {
  color: #000;
}

.card {
  margin-top:1%;
}

.video-responsive {
  float: left; 
  height: 100%; 
  width: 100%;
}

.sidebar{
  height: 100%;
  position: fixed;
}

