extends ../layout
block content
 .page-header.header-filter(data-parallax='true', style="background-image: url('https://images2.alphacoders.com/933/933145.jpg');")
  .container.login-content
    .login.tab-pane.active
     .card.card-body.col-md-4(style="margin-left: 30%; margin-top:3%")
      .section.login-content
        h3.login-form.text-center
          i.fa.fa-lg.fa-fw.fa-user
          span Verifica tu cuenta
        .login-form
          form.login-form(method='post', action='/verificar/update')
            .form-group
              input#usuario.form-control(type='text', placeholder='Codigo', name='token', required='true', autofocus='')
              .form-control-feedback

