extends ../layout

block content
 .page-header.header-filter(data-parallax='true', style="background-image: url('https://images2.alphacoders.com/933/933145.jpg');")
  .main.main-raised
    .profile-content(style="margin-top:120px;")

          .col-md-6.ml-auto.mr-auto.card.bg-dark(style="margin-top:0%;")
           .profile
             .avatar
             .col-md-6.form-group
                .btn.btn-success.btn-sm.text-white(style="width:12%; margin-left:1%; margin-top:-3px")
                 .h1.ml-auto(style="margin-left:-12px") +
              img.img-raised.rounded-circle.img-fluid(src="../images/perfil/nikola.jpg" alt="Circle Image" style="width:30%; margin-left:34%; margin-top:-120px;")
              
             .h5.text-center Nikola Tesla
             .h6.text-center.text-danger Ingeniería en Sistemas
             
            .description
                p Aquí una descripción del usuario, 4 example: Nikola Tesla fue un inventor, ingeniero mecánico e ingeniero eléctrico de origen serbocroata.​​ Se le conoce sobre todo por sus numerosas invenciones en el campo del electromagnetismo, desarrolladas a finales del siglo XIX y principios del siglo XX
        .profile-tabs
                  .col-md-6.mr-auto.ml-auto
            .profile-tabs
              .nav.nav-pills.nav-pills-danger.justify-content-center
                .nav-item
                  .nav-link.active
                    fa.fa-pictures Mis Fotos
                .nav-item
                  .nav-link
                    fa.fa-love Fotos cool
                .nav-item
                  .nav-link
                    fa.fa-book Favoritas
        .row
         .col-md-6.ml-auto.mr-auto
          .tab-content.tab-space
          .tab-pane.text-center.gallery(id="yo")
        
    script(src='/assets/js/core/jquery.min.js', type='text/javascript')
    script(src='/assets/js/core/popper.min.js', type='text/javascript')
    script(src='/assets/js/core/bootstrap-material-design.min.js', type='text/javascript')
    script(src='/assets/js/plugins/moment.min.js')
    script(src='/assets/js/plugins/bootstrap-datetimepicker.js', type='text/javascript')
    script(src='/assets/js/plugins/nouislider.min.js', type='text/javascript')
    script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
    script(src='/assets/js/material-kit.js?v=2.0.5', type='text/javascript')
